<h4>Choose the date of your event</h4>

<form clrForm class="clr-form"
[formGroup]="dateForm" 
(ngSubmit)="confirmDate(dateForm.value)">

  <ul>
    <div class="clr-row">
    <clr-select-container>
      <label>Day</label>
      <select clrSelect formControlName = "day" id="day" required>
        <option  *ngFor="let loop of counter(31); let x = index" value = "{{x+1}}">{{x+1}}</option>
      </select>
    </clr-select-container>
    <clr-select-container>
      <label>Month</label>
      <select clrSelect formControlName = "month" id="month" required>
        <option value = "January">January</option>
        <option value = "February">February</option>
        <option value = "March">March</option>
        <option value = "April">April</option>
        <option value = "May">May</option>
        <option value = "June">June</option>
        <option value = "July">July</option>
        <option value = "August">August</option>
        <option value = "September">September</option>
        <option value = "October">October</option>
        <option value = "November">November</option>
        <option value = "December">December</option>
      </select>
    </clr-select-container>
    <clr-select-container>
      <label>Year</label>
      <select clrSelect formControlName = "year" id="year" required>
        <option *ngFor="let loop of counter(31); let x = index" value = {{x+1990}}>{{1990+x}}</option>
      </select>
    </clr-select-container>
  </div>
  </ul>
  <div style="text-align: center">
  <button class="btn btn-success" type="submit">Confirm Date</button>
</div>
</form>