
<h2>MyAppointments</h2>
<div class="clr-col-lg-5 clr-col-md-8 clr-col-12">

    <div *ngFor="let x of entries | sort; let i=index"> <!-- all the warnings are from the custom pipe-->
        <div *ngIf="i<10" class = "card">
        <div class="card-header">{{x.name}}</div>
        <!--<h3>{{x.id}}</h3>-->
        <div class="card-title">{{x.type}}</div>
        <div class="card-text">
            <h3>{{x.date}}</h3>
            <p>Time Uploaded: {{x.timeUploaded | date: "long"}}</p>
            </div>
        </div>
    </div>
    
</div>